.student__container {
    display: flex;
    width: 100%;
    border-bottom: grey solid 0.0313rem;
    justify-content: flex-start;
  }
  .student__innerContainer {
    width: 60%;
  }
  
  .student__pic {
    border-radius: 100%;
    border: solid gray 0.0625rem;
    margin: 0.625rem 2.5rem 0.625rem 2.5rem;
    width: 20%;
    height: 20%;
  }
  
  .student__details {
    margin-top: 0.9375rem;
    width: 100%;
    height: 60%;
    margin-left: 1.25rem;
    display: flex;
    flex-direction: column;
    color: grey;
  }

  .hidden {
    display: none;
  }
  
  .vissible {
    list-style: none;
  }

  .tag {
    list-style: none;
}

.tag__square {
    background-color: lightgrey;
    color: black;
    margin: 10px 20px;
    
}

.tag__container {
    display: flex;
    justify-content:space-evenly;
    width: 40%;
}

.tag_input {
  border: none;
  border-bottom: gray 1px solid;
  line-height: 1.5rem;
  margin: 20px 0;
  padding: 5px;
}